<nav>
  <ul>
    <li><a href="/user/dashboard">Dashboard</a></li>
    <li><a href="/did/view">View your DID</a></li>
    <li><a href="/reputation/view">View your Reputation</a></li>
    <li><a href="/verification/request">Documents</a></li>
    <li><a href="/credentials/view">Profile</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  </ul>
</nav>
